.swiper {}

.slider-1 {
  height: 100vh;
  background-image: url('~@/assets/img/bg-1.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.slider-2 {
  height: 100vh;
  background-image: url('~@/assets/img/bg-2.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.slider-3 {
  height: 100vh;
  background-image: url('~@/assets/img/bg-3.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.btn-next {
  z-index: 2;
  position: absolute;
  right: 50px !important;
  top: 50% !important;
  width: 50px;
  height: 50px;
  transform: translateY(-50%);

  .content {
    position: absolute;
    @include absolute-position;
    background-image: url('https://global-uploads.webflow.com/5c9c9c646cf0969b319f264f/5d14818767ac37ac193eccf4_circle-container.svg');
    width: 50px;
    height: 50px;
  }

  .arrow {
    position: absolute;
    @include absolute-position;
    background-image: url('https://global-uploads.webflow.com/5c9c9c646cf0969b319f264f/5d24aa633c6cae18850994a2_arrow.svg');
    width: 20px;
    height: 20px;
  }

  &:hover {
    cursor: pointer;
  }
}

.swiper-button-next {
  color: transparent;
  top: inherit;
  right: inherit;

  &:after {
    content: '';
  }

  &:focus {
    outline: none;
  }
}